.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2{
  margin: 5% 0 0 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

h4{
  margin: 2% 0;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  color: #F3BF99;
}

button{
  margin: 5%;
  width: 115px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #5093E2;
  border: 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
}

.button-icon{
  margin-right: 5px;
  font-weight: lighter;
  color: #FFFFFF;
}